@import "vars";

@mixin container() {
  background-color: $container-color;
  padding: 0.9rem;
  margin: 0.5rem;
  border-radius: 0.4rem;
}

@mixin line($direction) {
  display: block;
  @if $direction == row {
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  } @else {
    // max-height: calc($board-size - 2 * 0.3rem - 2 * 0.9rem - 1 * 0.5rem);
  }
  div {
    margin: 0.3rem 0.3rem;
  }
}

@mixin to-red() {
  filter: invert(13%) sepia(100%) saturate(6905%) hue-rotate(358deg)
    brightness(114%) contrast(111%);
}

@mixin to-green() {
  filter: invert(50%) sepia(48%) saturate(2955%) hue-rotate(87deg)
    brightness(123%) contrast(120%);
}

@mixin to-white() {
  filter: invert(100%) sepia(0%) saturate(7494%) hue-rotate(346deg)
  brightness(100%) contrast(104%);
}